@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Lobster&family=Pattaya&family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,300;1,800&family=Roboto:ital,wght@0,300;1,100;1,300&family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./background_image.jpg);
    
}
main {
    width: 90%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.253);
    margin: 50px auto;
    border-radius: 6px;
}
header h1 {
    text-align: center;
    padding-top:20px;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
header h1 span {
    color: red;;
}
header p {
    text-align: center;
    padding-top:11px;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: 30%px;
    
}
form {
    background-color: rgba(0, 0, 0, 0.658);
    width: 25%;
    margin: 10px auto;
    border-radius: 6px;
    text-align:left;
    padding: 1px;
}
.div1 {
    /* border: 2px solid red; */
    width:200px;
    margin: 15px auto 5px;
    color: white;
}
.div1 input {
    width: 210px;
    height: 30px;

}
.div2 {
    width:200px;
    margin: 5px auto;
    color: white;
}
.div2 input {
    width: 210px;
    height: 30px;

}
.div3 {
    width:200px;
    margin: 5px auto;
    color: white;
}
.div3 input {
    width: 210px;
    height: 30px;

}
.div4 {
        width:200px;
        margin: 5px auto;
        color: white;
}
.div4 select {
    width: 210px;
    height: 30px;

}
.div1, .div2, .div3, .div4 label {
    font-size: 13px;
}


.div5 {
    width:200px;
    margin: 15px auto 5px;
    color: white;
}
.div6 {
    width:200px;
    margin: 15px auto 5px;
    color: white;

}
.div7 {
    width:100px;
    margin-left: 40px;
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}
.div7 label {
    padding:10px;
    font-size: 12px;

}
.div7 textarea {
    display: inline-block;
    margin-top: 10px;
}
.div5, .div6, .div7, .div8, label {
    font-size: 12px;
}
.div8 {
    /* background-color: red; */
    width: 60px;
    margin: 15px auto;
    padding-bottom: 4px;
}
.div8 input {
    background-color: red;
    font-size: 18px;
    color: white;
    padding: 5px;
    border-radius: 40px;
    border: none;
    transition: ease-in 300ms;
}
.div8 input:hover {
    background-color: rgba(163, 26, 26, 0.685);
    color: black;
}

